body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background for the page */
    color: #000; /* Black text */
}



.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* White background */
    z-index: -1;
}

.calculator {
    position: relative;
    margin: 100px auto;
    padding: 20px;
    background-color: #000; /* Black calculator background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    width: 400px; /* Adjusted width */
}

.display {
    width: calc(100% - 40px); /* Current width */
    min-width: calc(100% - 40px); /* Set the minimum width */
    max-width: calc(100% - 40px); /* Set the maximum width */
    padding: 10px;
    margin-bottom: 20px;
    font-size: 48px; /* Larger font size */
    text-align: right;
    border: none;
    outline: none;
    background-color: #000; /* Black background for display */
    color: #fff; /* White text */
}

.equation {
    padding: 10px;
    font-size: 32px;               
    text-align: right;
    color: #fff; /* White text */
    background-color: #000;
    border-radius: 10px;
    margin-bottom: 10px;
    width: calc(100% - 40px); /* Set initial width */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 24px;
    background-color: #ff9500; /* Orange button background */
    color: #fff; /* White text */
    border: none;
    border-radius: 20px; /* Rounder buttons */
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90px; /* Adjusted button width */
}

button:hover {
    background-color: #f08500; /* Darker orange on hover */
}

button.operator {
    background-color: #ff9500; /* Orange for operators */
}

button.operator:hover {
    background-color: #f08500; /* Darker orange on hover */
}

button.clear {
    background-color: #acacac; /* Gray for clear button */
}

button.clear:hover {
    background-color: #989898; /* Darker gray on hover */
}

button.equals {
    grid-column: span 2;
    background-color: #ff9500; /* Orange for equals button */
}

button.equals:hover {
    background-color: #f08500; /* Darker orange on hover */
}

button.ac {
    background-color: #acacac; /* Gray for AC button */
}

button.ac:hover {
    background-color: #989898; /* Darker gray on hover */
}

